* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

h1 {
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 200%;
  margin: 0;
}

.p1 {
	background-color: #DDA0DD;
	color: black;	
	width: 40%;
}

.p2 {
	background-color: #F08080;
	color: black;
    width: 40%;

}

.p3 {
	background-color: #AFEEEE;	
	color: black;
    width: 40%;

}

.container {
   background-color: #F5F5DC	;
   position: relative;
   height: 250px;
   border: 1px solid black;
}

.content {
	margin: 0;
	padding: 60px 10px 10px 10px;

}

.title {
	font-size: larger;
	font-weight: bold;
	padding: 10px;
	text-align: center;
    border: 1px solid black;
    border-style: none none solid solid;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.row {
  width: 100%
}


.col-lg-1, .col-lg-2, .col-lg-3, .col-md-2, .col-md-2, .col-md-3, .col-sl-1, .col-sl-2, .col-sl-3 {
	padding: 20px;
	float: left;
}

/*Large devices only*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
       float: left;
       width: 33.33%;
                   }
   }

  
/*Medium devices only*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2 {
    float: left;
    width: 50%;
    
  }

  .col-md-3 {
  	width: 100%;
  }
}
  
/*Small devices only*/
@media (max-width: 767px) {
	.col-sl-1, .col-sl-2, .col-sl-3 {
		width: 100%;
		padding: 10px 50px;
			}
}
